{% extends "form_simp_base.html" %}
{% load translate %}

{% block content %}
<link rel="stylesheet" href="/static/css/docs.min.css" type="text/css" >
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="bs-callout bs-callout-info">
        <h4>欢迎参阅十二圈指南！</h4>
        <p>这份指南将带领你在十二圈内创建社团，发布活动，并设置签到。</p>
        <div class="highlight">
          <p>我好美～</p>
        </div>
        <p>以上就是指南的全部内容。</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
