{% extends "form_simp_base.html" %}
{% load translate %}

{% block content %}

<div class="container-fluid">
  <div class="col-sm-12 col-md-offset-1 col-md-7">
    <div class="col-lg-12">
      <form class="input-group" action="" method="GET">
        <input type="text" class="form-control input-lg" placeholder="{{ category_cn }}{% t_ '关键词' %}" name="query" value="{{ query }}">
        <span class="input-group-btn">
          <button class="btn btn-{{ btn_color }} btn-lg" type="submit" role="submit">
            <span class="glyphicon glyphicon-search"></span> {% t_ '探索' %}
          </button>
        </span>
      </form>
    </div>
    <br />
  </div>
  <div class="col-sm-12 col-md-8">
    {% if not query %}
      <h4 class="text-center" style="padding:60px;">
        <span class="glyphicon glyphicon-hand-up"></span> {% t_ '在上方输入查询内容' %}
      </h4>
    {% else %}
      {% if not result %}
        <p class="text-center" style="padding:60px;">{% t_ '没有找到相关结果。' %}</p>
      {% endif %}
    {% endif %}

    <div class="col-md-offset-1 col-md-11">
      {% ifequal category 'club' %}
        {% for club in result %}
          <div class="media" style="margin:10px;padding:10px; ">
            <h4 class="media-heading" style="padding-bottom:10px; ">
              <span class="glyphicon glyphicon-home"></span> <a href="/club/{{ club.data.simp_name }}/">{{ club.data.full_name }}</a>
            </h4>
            <div class="media-left">
              <img class="thumbnail" style="width: 64px; height: 64px;" src="{{ club.avatar.medium }}">
            </div>
            <div class="media-body">
              <p>{{ club.data.full_intro }}</p>
              <p>
                <span class="text-success"><strong>shierquan.ercli.dev/club/{{ club.data.simp_name }}/</strong></span>
                <span class="text-muted hidden-xs" style="padding-left:20px;">{{ club.data.time_create.date }} - {% t_ '落户时间' %}</span>
              </p>
            </div>
          </div>
        {% endfor %}
      {% endifequal %}

      {% ifequal category 'event' %}
        {% for event in result %}
          <div class="media" style="margin:10px;padding:10px; ">
            <h4 class="media-heading" style="padding-bottom:10px; ">
              <span class="glyphicon glyphicon-flag"></span> <a href="/event/{{ event.data.id }}/">{{ event.data.subject }}</a>
            </h4>
            <div class="media-left">
              <img class="thumbnail" style="width: 64px; height: 64px;" src="{{ event.avatar.medium }}">
            </div>
            <div class="media-body">
              <p>{{ event.data.content }}</p>
              <p>
                <span class="text-success"><strong>shierquan.ercli.dev/event/{{ event.data.id }}/</strong></span>
                <span class="text-muted hidden-xs" style="padding-left:20px;">{{ event.data.time_set }} - {% t_ '开始时间' %}</span>
              </p>
            </div>
          </div>
        {% endfor %}
      {% endifequal %}

      {% ifequal category 'share' %}
        {% for share in result %}
          <div class="media" style="margin:10px;padding:10px; ">
            <h4 class="media-heading" style="padding-bottom:10px; ">
              <span class="glyphicon glyphicon-share"></span> <a href="/share/{{ share.data.attach_uuid }}/">{{ share.data.subject }}</a>
            </h4>
            <div class="media-left">
              <img class="thumbnail" style="width: 64px; height: 64px;" src="{{ share.avatar }}">
            </div>
            <div class="media-body">
              <p>{{ share.data.content }}</p>
              <p>
                <span class="text-success"><strong>shierquan.ercli.dev/share/{{ share.data.attach_uuid }}/</strong></span>
                <span class="text-muted hidden-xs" style="padding-left:20px;">{{ share.data.time_create.date }} - {% t_ '创建时间' %}</span>
              </p>
            </div>
          </div>
        {% endfor %}
      {% endifequal %}
    </div>
  </div>
<!--
  <div class="col-sm-12 col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>{% t_ '推荐社团' %}</p>
        <div class="col-sm-12 col-md-12">
        {% for club in recommend_list %}
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
-->
  <div class="col-sm-12 col-md-4">
    <div class="btn-group btn-group-justified" style="margin-bottom: 15px; ">
      <a class="btn btn-primary" href="/search/"
        {% ifequal category 'club' %} disabled{% endifequal %}>
        <h2><span class="glyphicon glyphicon-home"></span></h2>
        <h5>{% t_ '社团搜索' %}</h5>
      </a>
      <a class="btn btn-warning" href="/search/event/"
        {% ifequal category 'event' %} disabled{% endifequal %}>
        <h2><span class="glyphicon glyphicon-flag"></span></h2>
        <h5>{% t_ '活动搜索' %}</h5>
      </a>
      <a class="btn btn-success" href="/search/share/"
        {% ifequal category 'share' %} disabled{% endifequal %}>
        <h2><span class="glyphicon glyphicon-share"></span></h2>
        <h5>{% t_ '分享搜索' %}</h5>
      </a>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        {% t_ '近期活动' %}
      </div>
      <div class="list-group">
        {% for event in event_list %}
          <a href="/event/{{ event.data.id }}/" class="list-group-item">[{{ event.sponsor_fname }}] {{ event.data.subject }}</a>
        {% endfor %}
        <a href="/square/" class="list-group-item list-group-item-info">{% t_ '查看更多' %}</a>
      </div>
    </div>
  </div>
  <!--
  <div class="col-sm-12 col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
<p>{% t_ '搜索社团' %}</p>
        <div class="row">
          <div class="col-lg-12">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="{% t_ '输入社团关键词' %}">
              <span class="input-group-btn">
                <button class="btn btn-info" type="button"><span class="glyphicon glyphicon-menu-right"></span> {% t_ '探索' %}</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->
</div>
{% endblock %}
