{% extends "form_error_base.html" %}
{% load translate %}

{% block content %}

<div class="container-fluid">
    <div class="jumbotron list-group-item-danger" style="padding:64px 24px 64px 24px;">
      <h1 class="text-center"><span class="glyphicon glyphicon-lock"></span> {% t_ '您的请求被锯了' %}...</h1>
      <p class="text-center">{% t_ '服务器返回了一个403。嗯，访问 Forbidden' %}！</p>
      {% if exception %}
      <p class="text-center"><button type="button" id="popover" href="#" tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="{% t_ '详细信息' %}" data-content="{{ exception }}">{% t_ '详细信息' %}</button></p>
      {% else %}
      <p class="text-center">{% t_ '无额外错误信息。' %}</p>
      {% endif %}
    </div>
</div>

{% endblock %}
