{% extends 'base.html' %}
{% load translate %}

{% block extra_include %}
  <script src="/static/js/moment.min.js"></script>
  <link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
  <script src="/static/js/bootstrap.file-input.js"></script>
  <script src="/static/js/bootstrap-datetimepicker.min.js" type="text/javascript" charset="UTF-8"></script>

  <link href="/static/css/icheck/flat/green.css" rel="stylesheet">
  <script src="/static/js/icheck.js"></script>

  <script type="text/javascript" src="/static/js/raphael-min.js"></script>

  <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/simditor.css" />

  <script type="text/javascript" src="/static/js/module.js"></script>
  <script type="text/javascript" src="/static/js/hotkeys.js"></script>
  <script type="text/javascript" src="/static/js/uploader.js"></script>
  <script type="text/javascript" src="/static/js/simditor.js"></script>

  <script type="text/javascript" src="/static/js/jquery.sticky.js"></script>
{% endblock %}
