{% load translate %}

      <div class="panel panel-success">
        <div class="panel-body">
          <h4 class="text-center">{% t_ '分享' %}</h4>
          {% if presentation_list %}
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
            {% for share in presentation_list %}
              {% if forloop.counter0 %}
              <div class="item">
              {% else %}
              <div class="item active">
              {% endif %}
                <img src="{{ share.link }}" class="img-rounded" style="margin:0px auto;">
                <!--
                <div class="carousel-caption">
                {{ share.title }}
                </div>
                -->
              </div>
              {% endfor %}
            </div>
        
            <a class="carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control" style="right: 0px;left: auto;" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          {% endif %}
        </div>
        <div class="list-group">
          {% for share in share_box %}
          {% ifnotequal share.data.category 'form' %}
          <a href="{{ share.link }}" class="list-group-item">
          {% ifequal share.data.category 'handout' %}
            <span class="glyphicon glyphicon-file"></span> 
          {% endifequal %}
          {% ifequal share.data.category 'knowledge' %}
            <span class="glyphicon glyphicon-heart"></span> 
          {% endifequal %}
          {% ifequal share.data.category 'event' %}
            <span class="glyphicon glyphicon-flag"></span> 
          {% endifequal %}
          {% ifequal share.data.category 'news' %}
            <span class="glyphicon glyphicon-picture"></span> 
          {% endifequal %}
          {{ share.data.subject }}</a>
          {% endifnotequal %}
          {% endfor %}
          {% if not share_box %}
          <a href="#" class="list-group-item">{% t_ '暂时没有分享' %}</a>
          <!-- <a href="#" class="list-group-item">{% t_ '上传新分享' %}</a> -->
          {% else %}
          <a href="/club/{{ club.simp_name }}/detail/?category=share;" class="list-group-item list-group-item-success">
            {% t_ '查看所有分享' %}
          </a>
          {% endif %}
        </div>
      </div>

