{% extends "form_comp_base.html" %}
{% load translate %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">{% t_ '更改社团信息' %}</div>
        <div class="panel-body">
          <ol class="breadcrumb">
            <li><a href="/square/club/">{% t_ '主页' %}</a></li>
            <li><a href="/club/{{ club.simp_name }}/">{{ club.full_name }}</a></li>
            <li class="active">{% t_ '更改' %}</li>
          </ol>
          <hr />
          <div class="col-sm-4 col-md-3">
            <a href="/avatar/club/{{ club.simp_name }}/" class="btn btn-primary" role="button">{% t_ '修改社团头像' %}</a>
            <h3><span class="glyphicon glyphicon-home"></span> {{ club.full_name }}</h3>
            {% if category %}
            <h4><span class="glyphicon glyphicon-inbox"></span> {{ category }}</h3>
            {% endif%}
            <h4 style="line-height:1.5;"><span class="glyphicon glyphicon-info-sign"></span> {{ club.simp_intro }}</h4>
            <p style="line-height:1.5;text-indent:2em;">{{ club.full_intro }}</p>
          </div>
          <div class="col-sm-8 col-md-9">
            <form id="club_edit_form" action="/club/{{ club.simp_name }}/edit/" method="post" class="form">
              {% csrf_token %}
              <div class="form-group row has-feedback" id="group_full_name">
                <label for="full_name" class="col-sm-2 control-label">{% t_ '新社团名称' %}</label>
                <div class="col-sm-10">
                  <input id="full_name" name="full_name" type="text" class="form-control" id="inputName" placeholder="{% t_ '新社团名称' %}" value="{{ club.full_name }}" oninput="character_verify('full_name', 20);">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputResume" class="col-sm-2 control-label">{% t_ '新社团分类' %}</label>
                <div class="col-sm-10">
                  <div class="btn-group" data-toggle="buttons">
                    {% for i in category_list %}
                      {% ifequal i.0 club.category %}
                      <label class="btn btn-info active">
                        <input name="category" value="{{ i.0 }}" id="{{ i.0 }}" type="radio" name="options" autocomplete="off" checked> {{ i.1 }}
                      </label>
                      {% else %}
                      <label class="btn btn-info">
                        <input name="category" value="{{ i.0 }}" id="{{ i.0 }}" type="radio" name="options" autocomplete="off"> {{ i.1 }}
                      </label>
                      {% endifequal %}
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="form-group row has-feedback" id="group_simp_intro">
                <label for="simp_intro" class="col-sm-2 control-label">{% t_ '新社团简介' %}</label>
                <div class="col-sm-10">
                  <input name="simp_intro" type="text" class="form-control" id="simp_intro" placeholder="{% t_ '对社团的一句话简介（不多于30字）' %}" value="{{ club.simp_intro }}" oninput="character_verify('simp_intro', 30);">
                </div>
              </div>
              <div class="form-group row has-feedback" id="group_full_intro">
                <label for="full_intro" class="col-sm-2 control-label">{% t_ '新社团概况' %}</label>
                <div class="col-sm-10">
                  <textarea name="full_intro" id="full_intro" class="form-control" rows="7" placeholder="{% t_ '社团概况&活动情况&历史等（不多于100字）' %}" onkeydown="character_verify('full_intro', 1000);">{{ club.full_intro }}</textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                  <input type="submit" class="btn btn-block btn-lg btn-info" value="{% t_ '提交修改' %}"/>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
	function character_verify(id, len){
		content = $("#"+id).val();
		if (content.length > len) {
			$("#group_"+id).addClass('has-error');
		} else {
			$("#group_"+id).removeClass('has-error');
		}
	}
	
	$("#club_edit_form").on("submit", function(event) {
		event.preventDefault();
		ajaxBanner(this.target, {
			data: getFormJson("#club_edit_form"), 
		}, "#club_edit_form");
	});
  </script>
</div>
{% endblock %}
