{% extends 'form_comp_base.html' %}
{% load translate %}

{% block content %} 
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12">

      <div class="col-md-9">
        <ol class="breadcrumb">
          <li class="active">{% t_ '十二论坛' %}</li>
        </ol>
        {% for label, topic in topic_list %}
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">{{ label }}</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              {% for group in topic %}
              <div class="col-md-4">
                <a href="/forum-old/{{ group.data.simp_name }}/">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-4">
                        {% if group.avatar %}
                          <img src="{{ group.avatar }}"/>
                          {% else %}
                          <h1>
                            <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                          </h1>
                          {% endif %}
                        </div>
                        <div class="col-md-8">
                          <h5>{{ group.data.subject }} ({{ group.today }})</h5>
                          <h6>{% t_ '主题' %}: {{ group.thread }}, {% t_ '帖数' %}: {{ group.resp }}</h6>
                          <h6>{% t_ '最后发表' %}: {{ group.last }}</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
        {% if is_admin %}
          <a class="btn btn-success btn-block btn-lg" href="/forum-old/-/edit/?action=new&relation=group" style="margin-bottom: 1em; ">{% t_ '创建群组' %}</a>
        {% endif %}
      </div>
      
      {% include 'forum_side.html' %}
    </div>
  </div>
</div>
{% endblock %}
