{% extends "form_comp_base.html" %}
{% load translate %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div id="panel-container" class="panel panel-warning">
        <div class="panel-heading">{% t_ '管理社团群' %}</div>
        <div class="panel-body" style="padding:5px;"></div>
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th class="text-right">{% t_ '社团ID' %}</th>
              <th>{% t_ '社团名称' %}</th>
              <th>QuanRank</th>
              <th>{% t_ '出勤率' %}</th>
              <th>{% t_ '成员总数' %}</th>
              <th>{% t_ '处罚次数' %}</th>
              <th>{% t_ '操作' %}</th>
            </tr>
          </thead>
          <tbody>
          {% for i in club_list %}
            <tr id="club{{ i.data.id }}">
              <td>
                <h5 class="text-right">{{ i.data.id }}</h5>
              </td>
              <td>
                <h5><span class="glyphicon glyphicon-home"></span> <a href="/club/{{ i.data.simp_name }}/">{{ i.data.full_name }}</a></h5>
              </td>
              <th>
                <h5>{{ i.crank }}</h5>
              </th>
              <td>
                <h5>{{ i.attend_ratio }}%</h5>
              </td>
              <td>
                <h5>{{ i.member_num }}</h5>
              </td>
              <td>
                <h5>{{ i.amercement_num }}</h5>
              </td>
              <td>
              {% ifnotequal i.data.simp_name 'club-union' %}
                <button type="button" class="btn btn-default" onclick="club_act({{ i.data.id }}, 'amerce');"><span class="glyphicon glyphicon-remove-circle"></span> {% t_ '处罚' %}</button>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#club_remove{{ i.data.id }}"><span class="glyphicon glyphicon-trash"></span> {% t_ '删除' %}</button>
              {% endifnotequal %}
              </td>
            </tr>
            <div class="modal fade" id="club_remove{{ i.data.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel"> {% t_ '删除确认' %}</h4>
                  </div>
                  <div class="modal-body">
                    <h4 class="text-center">
                      {% t_ '确定要删除社团' %} {{ i.data.full_name }} {% t_ '吗？' %}{% t_ '（简称为' %}{{ i.data.simp_name }}{% t_ '）' %}
                    </h4>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="club_act({{ i.data.id }}, 'remove');"><span class="glyphicon glyphicon-trash"></span> {% t_ '删除' %}</button>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          </tbody>
        </table>
        <div class="panel-footer">
          <nav>
            <ul class="pagination">
              {% if not page_pre %}
              <li class="disabled"><span>&laquo;</span></li>
              {% else %}
              <li><a href="?index=1">&laquo;</a></li>
              {% endif %}
              {% for i in page_list %}
              <li{% ifequal i page_index %} class="active"{% endifequal %}>
                <a href="?index={{ i }}">{{ i }}</a>
              </li>
              {% endfor %}
              {% if not page_next %}
              <li class="disabled"><span>&raquo;</span></li>
              {% else %}
              <li><a href="?index={{ page_len }}">&raquo;</a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
	function club_act(cid, club_action){
		ajaxBanner("", {
			type:	club_action, 
			cid:	cid, 
		}, ".panel-body");
	}
  </script>
</div>
{% endblock %}
